{{#section 'head'}}
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <title>PickUp</title>
{{/section}}

<nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">PickUp</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#" id="loginLogout">Logout</a></li>
                    <p class="navbar-text">Logged in as <span id="username"></span></p>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <form class="navbar-form navbar" role="select" action="index" method="get">
        <select name="sports">
            <option value="basketball">Basketball</option>
            <option value="ultimate">Ultimate</option>
            <option value="soccer">Soccer</option>
             <option value="football">Football</option>
        </select>
        <button type="submit" class="btn btn-default">Search Current PickUps</button>
    </form>
    <div id="map"> </div>
    <div class="game">
        <div class="pickUpInfo">

            {{!-- handlebars  block expression--}}
             {{#each game}}
                <p class = "i"><img src={{img}} width=75% height=75%></img><p>
                <h2>Park: {{parkName}}</h2>
                <p>{{sport}}</p>
                <p><span class="playerNum">{{playerNum}}</span> players are here.</p>
            {{/each}} 
            {{!--handlebars   --}} 
        </div>
    </div>

    <div class="game">
        <img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/basketball.png" width="15%" height="15%">
        <div class="pickUpInfo">
            <h2>Park Name</h2>
            <p>Basketball</p>
            <p><span class="playerNum">4</span> players are here</p>
        </div>
    </div>

    <div class="game">
        <img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/basketball.png" width="15%" height="15%">
        <div class="pickUpInfo">
            <h2>Park Name</h2>
            <p>Basketball</p>
            <p><span class="playerNum">4</span> players are here</p>
        </div>
    </div>

    <script type="text/javascript" src="js/mapsApi/mapsApi.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcJmdtAXR1uxhLwobke4lqqKQmfuSw8VQ&callback=initMap">
    </script>
