{{#section 'head'}}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <title>PickUp</title>
{{/section}}