* {
    box-sizing: border-box;
    font-family: avenir;
}

.game {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px black solid
}

.pickUpInfo {
    padding-left: 20px;
}

.playerNum {
    color: red;
}