* {
    box-sizing: border-box;
    font-family: avenir;
}

.game {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px black solid
}

.pickUpInfo {
    padding-left: 20px;
}

.playerNum {
    color: red;
}

.btn-danger {
    height: 50px;
    margin: auto auto;
}

.btn-success {
    width: 92%;
    text-align: center;
    margin: 20px 40px;
    padding: 20px;
    font-size: 25px;
}

.i {
    width: 100px;
    height: 100px;
}